<script defer src='/socket.io/socket.io.js'></script>
<script defer src='/js/socket.js'></script>

{{!-- <h1>Agregar un producto</h1>

<form action="api/products" method="post" style="display: flex; flex-direction: column; align-items: flex-start">
        <label for="title">Título: </label>
    <input type="text" id="title" name="title">
        <label for="description">Descripción: </label>
    <input type="text" id="description" name="description">
        <label for="price">Precio: </label>
    <input type="text" id="price" name="price">
        <label for="code">Código: </label>
    <input type="category" id="code" name="code">
        <label for="title">Categoría: </label>
    <input type="text" id="category" name="category">
        <label for="stock">Stock: </label>
    <input type="text" id="stock" name="stock">

    <button type="submit">AGREGAR PRODUCTO</button>
</form> --}}

<h1>Lista de productos:</h1>

<div id="listContainer" >

</div>