@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: #111
}

a:hover {
    color: #111;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo {
    background-color: transparent;
    color: #FFC300;
    font-size: 30px;
    font-weight: 300;
    padding: 0 20px;
}

.logo:hover {
    color: #FFC300;
}

.yellow {
    color: #FFC300;
}

.dark {
    background-color: #111;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar button {
    margin: 0 20px;
}

h1 {
    color: #FFC300;
    margin: 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 1.4rem;
    font-weight: bold;
}

h3 {
    font-size: 1.3rem;
    font-weight: normal;
}

ul {
    margin: 1rem .2rem .2rem;
    padding: 0;
    font-size: .9rem
}

li {
    list-style-type: none;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: .1rem 0 .4rem
}

.index-container {
    width: 100vw;
    display: flex;
} 

.index-container h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 150%;
    width: 40%;
}


.index-img {
    width: 60%;
    height: calc(100vh - 80px);
    object-fit: cover
}

.login-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
}

.register-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 540px;
    width: 400px;
}

.create-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 350px;
    height: 500px;
}

form input[type="submit"] {
    margin-top: 10px;
}

.btn-warning:hover {
    font-weight: 500;
}

.products-main {
    width: 100%;
    padding: 16px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-container {
    color: #fff6d8 ;
    margin: 10px;
    padding: 10px;
    width: 400px;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-container h2 {
    color: #FFC300;
}

.product-container button {
    margin-top: 8px;
}

.cart-main {
    width: 100%;
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-price {
    width: 320px;
    height: 200px;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cart-price h2 {
    font-size: 28px;
    color: #FFC300;
}

.recover-main {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.purchase-main {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.blue-button {
    border: solid 1px #000;
    width: 10rem;
    margin: .8rem;
    padding: .4rem .7rem;
    background-color: rgb(31, 35, 49);
    color: #fff;
}

.blue-button:not(:disabled):hover {
    background-color: rgb(76, 88, 131);
    cursor: pointer;
}

.blue-button:not(:disabled):active {
    background-color: rgb(31, 35, 49);
    cursor: pointer;
}

.blue-button:disabled {
    background-color: rgb(144, 150, 161);
    cursor: auto;
}

.grey-button {
    border: solid 1px #000;
    width: 10rem;
    margin: .6rem;
    padding: .4rem .7rem;
    background-color: #333;
    color: #fff;
}

.grey-button:hover {
    background-color: #555;
    cursor: pointer;
}

.grey-button:active {
    background-color: #333;
    cursor: pointer;
}

.github-button {
    display: flex;
    align-items: space;
    justify-content: space-around;
    border: solid 1px #000;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.github-button:hover {
    color: #fff;
    background-color: #0b0b0b;
}

.github-icon {
    width: 1.4rem;
}

label {
    font-size: .9rem;
}

.listContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.bienvenida {
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.role-img {
    width: 10rem
}

.error {
    color: rgb(253, 177, 147);
    text-align: center;
}

label {
    color: #FFC300;
}

.msg {
    color: #FFC300;
}