<div class="container">
    <h2>Hola {{username}}, escriba su mensaje aquí:</h2>
    <input type="text" name="message">
    <button class="blue-button">Enviar</button>
    <button class='grey-button' onclick="redirect('/')">Volver</button> 
</div>

<script>
    function redirect(url) {
        window.location.href = url
    }
</script>