<header class="w-100 dark">
    <a class="logo" href="/">CD Commerce</a>
    <nav class="navbar navbar-expand-lg">
        <button type="button" class="btn btn-warning">
            <a href="/products">Productos</a>
        </button>
        <button type="button" class="btn btn-warning">
            <a href="/carts">Ver carrito</a>
        </button>
        <button type="button" class="btn btn-warning" id="sign-out">
            Cerrar sesión
        </button>
    </nav>
</header>

<main>
    <div class="index-container">
        <h1 class="yellow">
            ¡Hola {{name}}! 
        </h1>
        <img src="/assets/headphones.jpg" class="index-img">
    </div>
</main>

<script src="/js/signout.js"></script>