<div class="container" cart-id="{{cart._id}}">
    <h1>Finalizar compra</h1>
    <h2>Precio final: ${{cart.cartPrice}}</h2>
    <button class="blue-button" id="buyCart">COMPRAR</button>
    <button class="grey-button" onclick="redirect('/carts/{{cart._id}}')">Volver al carrito</button>
</div>

<script src="/js/purchase.js"></script>

<script>
    function redirect(url) {
        window.location.href = url
    }
</script>