<header class="w-100 dark">
    <a class="logo" href="/">CD Commerce</a>
    <nav class="navbar navbar-expand-lg">
        <button type="button" class="btn btn-warning">
            <a href="/products">Productos</a>
        </button>
        <button type="button" class="btn btn-warning">
            <a href="/login">Ingresar</a>
        </button>
        <button type="button" class="btn btn-warning">
            <a href="/register">Registrarse</a>
        </button>
    </nav>
    
</header>

<main class="recover-main">

    <h1>Elija su nueva contrase単a</h1>

    <form method="post" id="form" email={{email}}>

            <label for="password">Nueva contrase単a:</label>
        <input type="password" name="password" id="password">
            <label for="password2">Repita su contrase単a:</label>
        <input type="password" name="password2" id="password2">

        <p class="error" id="msg"></p>

        <input class='btn btn-warning' id="submit" type="submit" value="Modificar contrase単a">
    </form>


</main>

<script src="/js/recoverPass.js"></script>
