<header class="w-100 dark">
    <a class="logo" href="/">CD Commerce</a>
    <nav class="navbar navbar-expand-lg">
        <button type="button" class="btn btn-warning">
            <a href="/products">Productos</a>
        </button>
        <button type="button" class="btn btn-warning">
            <a href="/login">Ingresar</a>
        </button>
        <button type="button" class="btn btn-warning">
            <a href="/register">Registrarse</a>
        </button>
    </nav>
</header>

<main class="recover-main">

    {{#if expired}}
        <p class="error">El link expiró, por favor intente de nuevo</p>
    {{/if}}

    <h1>Recuperar contraseña</h1>

    <form method="post" id="form">
            <label for="email">Correo electrónico:</label>
        <input type="text" name="email" id="email">

        <input class='btn btn-warning' type="submit" value="Recuperar">
    </form>

</main>

<script src="/js/recoverPassRequest.js"></script>

<script>
    function redirect(url) {
        window.location.href = url
    }
</script>