<div class="container">

    <h1>Revise su casilla de correo electrónico</h1>

    <p class="msg">Se ha enviado un correo a {{email}}</p>

    <button class='grey-button' onclick="redirect('http://localhost:8080/')">Volver</button> 

</div>

<script>
    function redirect(url) {
        window.location.href = url
    }
</script>